
<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <style>
    .row {
      padding: 5px;
      margin: 10px;
    }

    .card {
      cursor: pointer;
    }

    .card-img-content {
      max-height: 395px;
      padding: 5px;
      overflow: hidden;
    }

    a.card-link {
      all: unset;
    }
  </style>
</head>

<body>
  <header>
    <!-- place navbar here -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="#">Un buscador para gobernarlos a todos...</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <form class="d-flex my-2 my-lg-0" action="{% url 'index' %}" method="post">
                  {% csrf_token %}
                    <input name="prompt" class="form-control me-sm-2" type="text" placeholder="Articulo">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
      </div>
    </nav>
    
  </header>
  <main>
    <div class="container-md">
      <div class="row text-center">
        {% if results_count %}
        {% for result in results %}
        <div class="col-md-4 col-sm-12 py-3">
          <a class="card-link" href="{{ result.link }}" target="_blank">
          <div class="card">
            <div class="card-header">
              {% if result.source == "amazon" %}
              <div class="alert alert-primary" role="alert">
              Amazon
              {% else %}
              <div class="alert alert-warning" role="alert">
              Mercado Libre
              {% endif %}
              </div>
              {% if result.flash_sale %}
              <div class="alert alert-danger" role="alert">
                <strong>OFERTA</strong> <del>{{ result.original_price }}</del>
              </div>
              
              {% endif %}
            </div>
            <div class="card-img-content">
              <img class="card-img-top img-fluid" src="{{ result.img }}" alt="{{ result.name }}">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ result.price }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ result.name }}</h6>
              <p class="card-text">
                {% if result.rating > 0 %}
                <div class="alert alert-dark" role="alert">
                  <strong>Calificación {{result.rating}}/5</strong> ({{result.rating_number}})
                </div>
                {% endif %}
              </p>
            </div>
            <div class="card-footer text-muted">
              {% if result.is_full_or_prime %}
              <span class="badge rounded-pill text-bg-info">Full/Prime</span>
              {% endif %}
              {% if result.free_shipping %}
              <span class="badge rounded-pill text-bg-success">Envio GRATIS</span>
              {% endif %}
              {% if result.label != "-" %}
              <span class="badge rounded-pill text-bg-primary">{{ result.label }}</span>
              {% endif %}
            </div>
          </div>
          </a>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>